h1 {
    color: white;
    background-color: gray;
    text-align: center;
    padding: 20px;
    width: 100%;
}


table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid black;
}

th,td {
    padding: 20px;
    border: 1px solid black;
}

th {
    background-color: gray;
}

tr:nth-child(even) {
    background-color: lightgray;
    border: 1px solid black;
}

tr:nth-child(odd) {
    background-color: whitesmoke;
    border: 1px solid black;
}

input, button {
    margin: 5px;
}

#monthlySalary {
    font-size: x-large;
    width: auto;
    background-color: white;
    text-align: right;
    padding-left: 100px;
    
}

.overLimit#monthlySalary{
    background-color: red;
    
}